<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!--&lt;!&ndash; 定时任务启动配置 &ndash;&gt;-->
    <bean id="startQuertz" lazy-init="true" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="doNagiosProduceTask"/>
            </list>
        </property>
    </bean>


    <!--nagios推送消息生成任务-->
    <bean id="nagiosProduceTask" class="com.tansun.gojs.task.NagiosTask"></bean>
    <bean id="jobWeekWordTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="nagiosTask"/>
        </property>
        <property name="targetMethod">
            <value>produceTask</value>
        </property>
        <property name="concurrent" value="false"></property>
    </bean>
    <bean id="doNagiosProduceTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="jobWeekWordTask"/>
        </property>
        <property name="cronExpression">
            <!-- 没1分钟执行一次-->
            <value>0 */1 * * * ?</value>
        </property>
    </bean>

</beans>
